{% extends 'base.html' %}

{% block title %}
tf2up.ml - TensorFlow 2.0 upgrader service, even easier upgrade to TensorFlow 2.0
{% endblock %}


{% block header %}
<a class="logo" href="//tf2up.ml"><img src="/static/images/tf2.svg"></a>
<style>
    h1 {
        text-align: center;
        }
    .cntr {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    code {
        word-wrap: break-word;
    }
</style>
{% endblock %}

{% block content %}
{{ content|safe }}
{% endblock %}