html {font: 400 16px/24px Roboto,sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header {
        /* border-bottom: 1px solid lightgray; */
        display: flex;
        align-items: flex-end;
}
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }


#demo {width: 930px; margin: 1em 0 0 0;}
.scrollable {display:block; width: 900px; overflow-x: scroll; background: #cae6f6; margin: 1em; padding: 1em 0.25em}
#bookmarklet{
        background-color: white;
        padding: 0.25em 0.25em;
        /* text-decoration: underline overline dotted red; */
        /* text-transform: uppercase; */
        color: #039be5;
        -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px
}

.logo {
        width: 22em;
        display: block;
        margin-left: auto;
        margin-right: auto;
}